<div data="{{id}}" class="panel panel-default">
    <div>
    <a href="#punch{{id}}" class="panel-heading" data-parent="#{{dataParent}}"  data-toggle="collapse">
        {{setup}}
    </a>
    </div>
    <div id="punch{{id}}" class="collapse panel-body">
        {{punchline}}
    </div>
</div>
