<div data="{{id}}" class="panel panel-primary">
    <a href="#service{{id}}" class="btn btn-info" data-parent="#otherJokes" data-toggle="collapse">
        {{name}}
    </a>
    <div id="service{{id}}" class="collapse">
        <div class="panel-heading bg-info">
            <a href="{{address}}">{{address}}</a>
        </div>
        <div id="serviceJoke{{id}}" class="panel-body"></div>
    </div>
</div>
        
